<launch>
	<node name="world_publisher"  pkg="object_recognition" type="create_pointcloud" >
		<param name="pcd_path" value="/home/frk1pal/test_ws/src/ros_object_recognition/world.pcd" />
		<remap from="world_publisher/pointcloud" to="world_pointcloud" />
	</node>

	<node name="object_publisher"  pkg="object_recognition" type="create_pointcloud" >
		<param name="pcd_path" value="/home/frk1pal/test_ws/src/ros_object_recognition/object.pcd" />
		<remap from="object_publisher/pointcloud" to="object_pointcloud" />
	</node>

</launch>
