<launch>
	<node name="world_publisher"  pkg="pcl_ros" type="pcd_to_pointcloud" args="/home/frk1pal/catkin_ws/src/ros_object_recognition/pcds/world_easy3.pcd 2" >
		<param name="frame_id" value="/world" />
		<remap from="/cloud_pcd" to="/object_recognition/world/pointcloud/raw" />
	</node>

	<node name="object_publisher"  pkg="pcl_ros" type="pcd_to_pointcloud" args="/home/frk1pal/catkin_ws/src/ros_object_recognition/pcds/object0.pcd 2" >
		<param name="frame_id" value="/object" />
		<remap from="/cloud_pcd" to="/object_recognition/object/pointcloud/raw" />								
	</node>																														

</launch>
