<launch>
	<node name="object_publisher"  pkg="object_recognition" type="create_pointcloud_node" >
		<param name="pcd_path" value="/home/kalectro/catkin/src/ros_object_recognition/object.pcd" />
		<param name="tf_frame" value="/object_tf" />
		<remap from="object_publisher/pointcloud" to="object_pointcloud" />
	</node>
</launch>
